{
  "openapi": "3.1.0",
  "info": {
    "title": "Bukku API",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.bukku.my",
      "description": "Production"
    }
  ],
  "paths": {
    "/journal_entries": {
      "post": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Create Journal Entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "journal_items": {
                    "type": "array",
                    "description": "The journal items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "integer",
                          "description": "The `Account`'s ID"
                        },
                        "credit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was credited from the account. \nLeave `null` if `debit_amount` is populated.\n"
                        },
                        "debit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was debited from the account. \nLeave `null` if `credit_amount` is populated.\n"
                        },
                        "description": {
                          "type": "string",
                          "description": "The transaction item's description."
                        },
                        "line": {
                          "type": "integer",
                          "description": "The sequence of the item within the array."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "The tax code of the item."
                        }
                      },
                      "required": [
                        "line",
                        "account_id",
                        "debit_amount",
                        "credit_amount"
                      ]
                    }
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nSupports number format (eg. KT-[5DIGIT]) or actual number (eg. KT-00012), leave blank to use default number format.\n\nTo use any other Number Format other than the default one set under Control Panel → Number Formats, \nplease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  }
                },
                "required": [
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "journal_items",
                  "status"
                ]
              },
              "example": {
                "contact_id": 1,
                "currency_code": "MYR",
                "date": "2024-11-21",
                "description": "Transfer of funds",
                "exchange_rate": 1,
                "files": [
                  [
                    {
                      "file_id": 1
                    }
                  ]
                ],
                "internal_note": "Transfer from Cash account to Bank Account A",
                "journal_items": [
                  {
                    "line": 1,
                    "account_id": 2,
                    "description": "Cash out to bank",
                    "debit_amount": 120,
                    "credit_amount": null,
                    "tax_code_id": null
                  },
                  {
                    "line": 2,
                    "account_id": 3,
                    "description": "Credit in from cash",
                    "debit_amount": null,
                    "credit_amount": 120,
                    "tax_code_id": null
                  }
                ],
                "number": "JE-[5DIGIT]",
                "number2": null,
                "remarks": "Done by Wayn",
                "status": "ready",
                "tag_ids": [
                  1
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1211
                        },
                        "contact_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "number": {
                          "type": "string",
                          "example": "JE-00001"
                        },
                        "number2": {
                          "type": "string",
                          "example": "ref no"
                        },
                        "date": {
                          "type": "string",
                          "example": "2024-11-21",
                          "format": "date"
                        },
                        "currency_code": {
                          "type": "string",
                          "example": "MYR"
                        },
                        "currency_symbol": {
                          "type": "string",
                          "example": "RM"
                        },
                        "exchange_rate": {
                          "type": "number",
                          "example": 1
                        },
                        "tag_ids": {
                          "type": "array",
                          "example": [
                            1
                          ]
                        },
                        "tag_names": {
                          "type": "array",
                          "example": [
                            "transfer"
                          ]
                        },
                        "journal_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "line": {
                                "type": "integer"
                              },
                              "account_id": {
                                "type": "integer"
                              },
                              "account_name": {
                                "type": "string"
                              },
                              "account_code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "debit_amount": {
                                "type": "number",
                                "nullable": true
                              },
                              "credit_amount": {
                                "type": "number",
                                "nullable": true
                              }
                            }
                          },
                          "example": [
                            {
                              "id": 1,
                              "line": 1,
                              "account_id": 2,
                              "account_name": "Cash on Hand",
                              "account_code": "1000-00",
                              "description": "Cash out to bank",
                              "debit_amount": 120,
                              "credit_amount": null
                            },
                            {
                              "id": 2,
                              "line": 2,
                              "account_id": 3,
                              "account_name": "Bank Account",
                              "account_code": "1000-01",
                              "description": "Credit in from cash",
                              "debit_amount": null,
                              "credit_amount": 120
                            }
                          ]
                        },
                        "remarks": {
                          "type": "string",
                          "example": "Remarks"
                        },
                        "description": {
                          "type": "string",
                          "example": "Description"
                        },
                        "internal_note": {
                          "type": "string",
                          "example": "Internal Note"
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "file_id": {
                                "type": "integer"
                              },
                              "file": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "url": {
                                    "type": "URL"
                                  },
                                  "filename": {
                                    "type": "string"
                                  },
                                  "mime_type": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "integer"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "is_shared": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "example": [
                              {
                                "id": 1,
                                "file_id": 1,
                                "file": [
                                  {
                                    "id": 1,
                                    "url": "https://files.bukku.xyz/...",
                                    "filename": "IMG_0421",
                                    "mime_type": "image/jpeg",
                                    "size": 20555,
                                    "created_at": "2024-11-21 16:17:57"
                                  }
                                ],
                                "is_shared": false,
                                "created_at": "2024-11-21 16:17:57"
                              }
                            ]
                          }
                        },
                        "amount": {
                          "type": "number",
                          "example": 120
                        },
                        "status": {
                          "type": "string",
                          "example": "ready"
                        },
                        "type": {
                          "type": "string",
                          "example": "journal_entry"
                        },
                        "reconciliations": {
                          "type": "array",
                          "example": []
                        },
                        "void_reason": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "voided_at": {
                          "type": "string",
                          "nullable": true,
                          "example": null,
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Read Journal Entry List",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Search for transactions on and before the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description`.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Search by status, defaults to All status but Void if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending_approval",
                "ready",
                "void"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The current page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of records per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the list using the defined column.",
            "schema": {
              "type": "string",
              "enum": [
                "number",
                "number2",
                "date",
                "contact_name",
                "amount",
                "balance",
                "title",
                "description",
                "created_at"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort the list in ascending or descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "example": {
                        "current_page": 1,
                        "per_page": 30,
                        "total": 2
                      }
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "number": {
                            "type": "string"
                          },
                          "number2": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "contact_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "currency_code": {
                            "type": "string"
                          },
                          "currency_symbol": {
                            "type": "string"
                          },
                          "exchange_rate": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "internal_note": {
                            "type": "string"
                          },
                          "file_count": {
                            "type": "integer"
                          },
                          "tag_names": {
                            "type": "array",
                            "nullable": true
                          },
                          "created_by": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "example": [
                          {
                            "id": 1211,
                            "number": "JE-00001",
                            "number2": "ref no",
                            "type": "journal_entry",
                            "contact_name": "Cash Sales",
                            "date": "2024-11-21",
                            "currency_code": "MYR",
                            "currency_symbol": "RM",
                            "exchange_rate": 1,
                            "amount": 120,
                            "status": "ready",
                            "description": "Description",
                            "internal_note": "Internal Note",
                            "file_count": 1,
                            "tag_names": [
                              "transfer"
                            ],
                            "created_by": "User",
                            "created_at": "2024-11-21 16:17:57",
                            "updated_at": "2024-11-22 18:00:56"
                          },
                          {
                            "id": 1212,
                            "number": "JE-00002",
                            "number2": "ref no",
                            "type": "journal_entry",
                            "contact_name": "Cash Sales",
                            "date": "2024-11-22",
                            "currency_code": "MYR",
                            "currency_symbol": "RM",
                            "exchange_rate": 1,
                            "amount": 120,
                            "status": "draft",
                            "description": "Description",
                            "internal_note": "Internal Note",
                            "file_count": 1,
                            "tag_names": [
                              "transfer"
                            ],
                            "created_by": "User",
                            "created_at": "2024-11-22 16:17:57",
                            "updated_at": "2024-11-22 18:00:56"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/journal_entries/{transactionId}": {
      "get": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Read Journal Entry",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1211
                        },
                        "contact_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "number": {
                          "type": "string",
                          "example": "JE-00001"
                        },
                        "number2": {
                          "type": "string",
                          "example": "ref no"
                        },
                        "date": {
                          "type": "string",
                          "example": "2024-11-21",
                          "format": "date"
                        },
                        "currency_code": {
                          "type": "string",
                          "example": "MYR"
                        },
                        "currency_symbol": {
                          "type": "string",
                          "example": "RM"
                        },
                        "exchange_rate": {
                          "type": "number",
                          "example": 1
                        },
                        "tag_ids": {
                          "type": "array",
                          "example": [
                            1
                          ]
                        },
                        "tag_names": {
                          "type": "array",
                          "example": [
                            "transfer"
                          ]
                        },
                        "journal_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "line": {
                                "type": "integer"
                              },
                              "account_id": {
                                "type": "integer"
                              },
                              "account_name": {
                                "type": "string"
                              },
                              "account_code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "debit_amount": {
                                "type": "number",
                                "nullable": true
                              },
                              "credit_amount": {
                                "type": "number",
                                "nullable": true
                              }
                            }
                          },
                          "example": [
                            {
                              "id": 1,
                              "line": 1,
                              "account_id": 2,
                              "account_name": "Cash on Hand",
                              "account_code": "1000-00",
                              "description": "Cash out to bank",
                              "debit_amount": 120,
                              "credit_amount": null
                            },
                            {
                              "id": 2,
                              "line": 2,
                              "account_id": 3,
                              "account_name": "Bank Account",
                              "account_code": "1000-01",
                              "description": "Credit in from cash",
                              "debit_amount": null,
                              "credit_amount": 120
                            }
                          ]
                        },
                        "remarks": {
                          "type": "string",
                          "example": "Remarks"
                        },
                        "description": {
                          "type": "string",
                          "example": "Description"
                        },
                        "internal_note": {
                          "type": "string",
                          "example": "Internal Note"
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "file_id": {
                                "type": "integer"
                              },
                              "file": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "url": {
                                    "type": "URL"
                                  },
                                  "filename": {
                                    "type": "string"
                                  },
                                  "mime_type": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "integer"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "is_shared": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "example": [
                              {
                                "id": 1,
                                "file_id": 1,
                                "file": [
                                  {
                                    "id": 1,
                                    "url": "https://files.bukku.xyz/...",
                                    "filename": "IMG_0421",
                                    "mime_type": "image/jpeg",
                                    "size": 20555,
                                    "created_at": "2024-11-21 16:17:57"
                                  }
                                ],
                                "is_shared": false,
                                "created_at": "2024-11-21 16:17:57"
                              }
                            ]
                          }
                        },
                        "amount": {
                          "type": "number",
                          "example": 120
                        },
                        "status": {
                          "type": "string",
                          "example": "ready"
                        },
                        "type": {
                          "type": "string",
                          "example": "journal_entry"
                        },
                        "reconciliations": {
                          "type": "array",
                          "example": []
                        },
                        "void_reason": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "voided_at": {
                          "type": "string",
                          "nullable": true,
                          "example": null,
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Update Journal Entry",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "journal_items": {
                    "type": "array",
                    "description": "The journal items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "integer",
                          "description": "The `Account`'s ID"
                        },
                        "credit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was credited from the account. \nLeave `null` if `debit_amount` is populated.\n"
                        },
                        "debit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was debited from the account. \nLeave `null` if `credit_amount` is populated.\n"
                        },
                        "description": {
                          "type": "string",
                          "description": "The transaction item's description."
                        },
                        "line": {
                          "type": "integer",
                          "description": "The sequence of the item within the array."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "The tax code of the item."
                        }
                      },
                      "required": [
                        "line",
                        "account_id",
                        "debit_amount",
                        "credit_amount"
                      ]
                    }
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nIf you are not updating the number, keep the value as is of what you got from the Read APIs. \n\nWhen updating a transaction, this field no longer supports number format number creation (eg. KT-[5DIGIT]). \n\nIf you wish to update your transaction number, you may provide an actual number instead (eg. KT-00012). \nPlease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  }
                },
                "required": [
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "journal_items",
                  "status"
                ]
              },
              "example": {
                "contact_id": 1,
                "currency_code": "MYR",
                "date": "2024-11-21",
                "description": "Transfer of funds",
                "exchange_rate": 1,
                "files": [
                  [
                    {
                      "file_id": 1
                    }
                  ]
                ],
                "internal_note": "Transfer from Cash account to Bank Account A",
                "journal_items": [
                  {
                    "line": 1,
                    "account_id": 2,
                    "description": "Cash out to bank",
                    "debit_amount": 120,
                    "credit_amount": null,
                    "tax_code_id": null
                  },
                  {
                    "line": 2,
                    "account_id": 3,
                    "description": "Credit in from cash",
                    "debit_amount": null,
                    "credit_amount": 120,
                    "tax_code_id": null
                  }
                ],
                "number": "JE-[5DIGIT]",
                "number2": null,
                "remarks": "Done by Wayn",
                "status": "ready",
                "tag_ids": [
                  1
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1211
                        },
                        "contact_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "number": {
                          "type": "string",
                          "example": "JE-00001"
                        },
                        "number2": {
                          "type": "string",
                          "example": "ref no"
                        },
                        "date": {
                          "type": "string",
                          "example": "2024-11-21",
                          "format": "date"
                        },
                        "currency_code": {
                          "type": "string",
                          "example": "MYR"
                        },
                        "currency_symbol": {
                          "type": "string",
                          "example": "RM"
                        },
                        "exchange_rate": {
                          "type": "number",
                          "example": 1
                        },
                        "tag_ids": {
                          "type": "array",
                          "example": [
                            1
                          ]
                        },
                        "tag_names": {
                          "type": "array",
                          "example": [
                            "transfer"
                          ]
                        },
                        "journal_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "line": {
                                "type": "integer"
                              },
                              "account_id": {
                                "type": "integer"
                              },
                              "account_name": {
                                "type": "string"
                              },
                              "account_code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "debit_amount": {
                                "type": "number",
                                "nullable": true
                              },
                              "credit_amount": {
                                "type": "number",
                                "nullable": true
                              }
                            }
                          },
                          "example": [
                            {
                              "id": 1,
                              "line": 1,
                              "account_id": 2,
                              "account_name": "Cash on Hand",
                              "account_code": "1000-00",
                              "description": "Cash out to bank",
                              "debit_amount": 120,
                              "credit_amount": null
                            },
                            {
                              "id": 2,
                              "line": 2,
                              "account_id": 3,
                              "account_name": "Bank Account",
                              "account_code": "1000-01",
                              "description": "Credit in from cash",
                              "debit_amount": null,
                              "credit_amount": 120
                            }
                          ]
                        },
                        "remarks": {
                          "type": "string",
                          "example": "Remarks"
                        },
                        "description": {
                          "type": "string",
                          "example": "Description"
                        },
                        "internal_note": {
                          "type": "string",
                          "example": "Internal Note"
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "file_id": {
                                "type": "integer"
                              },
                              "file": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "url": {
                                    "type": "URL"
                                  },
                                  "filename": {
                                    "type": "string"
                                  },
                                  "mime_type": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "integer"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "is_shared": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "example": [
                              {
                                "id": 1,
                                "file_id": 1,
                                "file": [
                                  {
                                    "id": 1,
                                    "url": "https://files.bukku.xyz/...",
                                    "filename": "IMG_0421",
                                    "mime_type": "image/jpeg",
                                    "size": 20555,
                                    "created_at": "2024-11-21 16:17:57"
                                  }
                                ],
                                "is_shared": false,
                                "created_at": "2024-11-21 16:17:57"
                              }
                            ]
                          }
                        },
                        "amount": {
                          "type": "number",
                          "example": 120
                        },
                        "status": {
                          "type": "string",
                          "example": "ready"
                        },
                        "type": {
                          "type": "string",
                          "example": "journal_entry"
                        },
                        "reconciliations": {
                          "type": "array",
                          "example": []
                        },
                        "void_reason": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "voided_at": {
                          "type": "string",
                          "nullable": true,
                          "example": null,
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Update Journal Entry Status",
        "description": "Only the following update paths are supported:\n  - `draft` → `pending_approval`\n  - `draft` → `ready`\n  - `pending_approval` → `ready`\n  - `ready` → `void`\n  - `void` → `ready`\n",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "void_reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Provide a reason to void the transaction.\n\n<span style=\"color: red; font-weight: 800;\">\n  It is REQUIRED when VOID-ing a MyInvois VALIDATE transaction.\n</span>\n"
                  }
                }
              },
              "example": {
                "status": "void",
                "void_reason": "Incorrectly issued"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1211
                        },
                        "contact_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "number": {
                          "type": "string",
                          "example": "JE-00001"
                        },
                        "number2": {
                          "type": "string",
                          "example": "ref no"
                        },
                        "date": {
                          "type": "string",
                          "example": "2024-11-21",
                          "format": "date"
                        },
                        "currency_code": {
                          "type": "string",
                          "example": "MYR"
                        },
                        "currency_symbol": {
                          "type": "string",
                          "example": "RM"
                        },
                        "exchange_rate": {
                          "type": "number",
                          "example": 1
                        },
                        "tag_ids": {
                          "type": "array",
                          "example": [
                            1
                          ]
                        },
                        "tag_names": {
                          "type": "array",
                          "example": [
                            "transfer"
                          ]
                        },
                        "journal_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "line": {
                                "type": "integer"
                              },
                              "account_id": {
                                "type": "integer"
                              },
                              "account_name": {
                                "type": "string"
                              },
                              "account_code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "debit_amount": {
                                "type": "number",
                                "nullable": true
                              },
                              "credit_amount": {
                                "type": "number",
                                "nullable": true
                              }
                            }
                          },
                          "example": [
                            {
                              "id": 1,
                              "line": 1,
                              "account_id": 2,
                              "account_name": "Cash on Hand",
                              "account_code": "1000-00",
                              "description": "Cash out to bank",
                              "debit_amount": 120,
                              "credit_amount": null
                            },
                            {
                              "id": 2,
                              "line": 2,
                              "account_id": 3,
                              "account_name": "Bank Account",
                              "account_code": "1000-01",
                              "description": "Credit in from cash",
                              "debit_amount": null,
                              "credit_amount": 120
                            }
                          ]
                        },
                        "remarks": {
                          "type": "string",
                          "example": "Remarks"
                        },
                        "description": {
                          "type": "string",
                          "example": "Description"
                        },
                        "internal_note": {
                          "type": "string",
                          "example": "Internal Note"
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "file_id": {
                                "type": "integer"
                              },
                              "file": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "url": {
                                    "type": "URL"
                                  },
                                  "filename": {
                                    "type": "string"
                                  },
                                  "mime_type": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "integer"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "is_shared": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "example": [
                              {
                                "id": 1,
                                "file_id": 1,
                                "file": [
                                  {
                                    "id": 1,
                                    "url": "https://files.bukku.xyz/...",
                                    "filename": "IMG_0421",
                                    "mime_type": "image/jpeg",
                                    "size": 20555,
                                    "created_at": "2024-11-21 16:17:57"
                                  }
                                ],
                                "is_shared": false,
                                "created_at": "2024-11-21 16:17:57"
                              }
                            ]
                          }
                        },
                        "amount": {
                          "type": "number",
                          "example": 120
                        },
                        "status": {
                          "type": "string",
                          "example": "void"
                        },
                        "type": {
                          "type": "string",
                          "example": "journal_entry"
                        },
                        "reconciliations": {
                          "type": "array",
                          "example": []
                        },
                        "void_reason": {
                          "type": "string",
                          "nullable": true,
                          "example": "Created by mistake"
                        },
                        "voided_at": {
                          "type": "string",
                          "nullable": true,
                          "example": "2024-11-21 17:17:57",
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Delete Journal Entry",
        "description": "Only transactions with `draft` and `void` statuses can be deleted.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "../../components/accounts/req_account_name.yaml"
                  },
                  "type": {
                    "$ref": "../../components/accounts/req_account_type.yaml"
                  },
                  "system_type": {
                    "$ref": "../../components/accounts/req_account_system_type.yaml"
                  },
                  "parent_id": {
                    "$ref": "../../components/accounts/req_account_parent_id.yaml"
                  },
                  "classification": {
                    "$ref": "../../components/accounts/req_account_classification.yaml"
                  },
                  "code": {
                    "$ref": "../../components/accounts/req_account_code.yaml"
                  },
                  "description": {
                    "$ref": "../../components/accounts/req_account_description.yaml"
                  }
                },
                "required": [
                  "name",
                  "type"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "name": "Logistics Expense",
                    "type": "current_liabilities",
                    "system_type": "accounts_payable",
                    "parent_id": 30,
                    "classification": "OPERATING",
                    "code": "3100",
                    "description": "The almighty account description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The account ID.",
                          "example": 42
                        },
                        "code": {
                          "type": "string",
                          "description": "The account code.",
                          "maxLength": 12,
                          "example": "3100"
                        },
                        "name": {
                          "type": "string",
                          "description": "The account name.",
                          "example": "Logistics Expense"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the account.",
                          "example": "The almighty account description"
                        },
                        "currency_code": {
                          "type": "string",
                          "description": "The account currency code.",
                          "example": "MYR"
                        },
                        "currency": {
                          "description": "The account currency details.",
                          "$ref": "../currency/res_currency.yaml"
                        },
                        "balance": {
                          "type": "number",
                          "description": "The account balance. This is null for accounts that do not carry balances.",
                          "nullable": true,
                          "example": null
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the account.",
                          "enum": [
                            "current_assets",
                            "non_current_assets",
                            "other_assets",
                            "current_liabilities",
                            "non_current_liabilities",
                            "equity",
                            "income",
                            "other_income",
                            "cost_of_sales",
                            "expenses",
                            "taxation"
                          ],
                          "example": "current_liabilities"
                        },
                        "system_type": {
                          "type": "string",
                          "description": "The system account type, if applicable.",
                          "enum": [
                            "bank_cash",
                            "accounts_receivable",
                            "accounts_payable",
                            "inventory",
                            "credit_card",
                            "fixed_assets",
                            "depreciation",
                            "my_epf_expense",
                            "my_socso_expense",
                            "my_eis_expense",
                            "my_salary_expense"
                          ],
                          "nullable": true,
                          "example": "accounts_payable"
                        },
                        "parent_id": {
                          "type": "integer",
                          "description": "The parent account ID. This is null for parent accounts.",
                          "nullable": true,
                          "example": 30
                        },
                        "children": {
                          "description": "Child accounts under this parent account.",
                          "$ref": "../children/res_children.yaml"
                        },
                        "classification": {
                          "type": "string",
                          "description": "The cash-flow classification of the account.",
                          "enum": [
                            "OPERATING",
                            "INVESTING",
                            "FINANCING"
                          ],
                          "nullable": true,
                          "example": "OPERATING"
                        },
                        "is_locked": {
                          "type": "boolean",
                          "description": "Whether the account is locked from changes.",
                          "example": false
                        },
                        "is_archieved": {
                          "type": "boolean",
                          "description": "Whether the account is archived.",
                          "example": false
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the account was created.",
                          "example": "2022-07-10 10:39:16"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the account was last updated.",
                          "example": "2022-07-10 10:53:04"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account List",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description`, `Contact Name`, `Billing Party` & `Shipping Party`.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Search by account category.",
            "schema": {
              "type": "string",
              "enum": [
                "assets",
                "liabilities",
                "equity",
                "income",
                "expenses"
              ]
            }
          },
          {
            "name": "is_archived",
            "in": "query",
            "description": "Show / hide deactivated accounts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by field.",
            "schema": {
              "type": "string",
              "default": "code",
              "enum": [
                "code",
                "name",
                "balance"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort the list in ascending or descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The account ID.",
                            "example": 30
                          },
                          "code": {
                            "type": "string",
                            "description": "The account code.",
                            "maxLength": 12,
                            "example": "3000"
                          },
                          "name": {
                            "type": "string",
                            "description": "The account name.",
                            "example": "Operational Expense"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the account.",
                            "example": "The almighty account description"
                          },
                          "currency_code": {
                            "type": "string",
                            "description": "The account currency code.",
                            "example": "MYR"
                          },
                          "currency": {
                            "description": "The account currency details.",
                            "$ref": "../currency/res_currency.yaml"
                          },
                          "balance": {
                            "type": "number",
                            "description": "The account balance. This is null for accounts that do not carry balances.",
                            "nullable": true,
                            "example": 1290.8
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the account.",
                            "enum": [
                              "current_assets",
                              "non_current_assets",
                              "other_assets",
                              "current_liabilities",
                              "non_current_liabilities",
                              "equity",
                              "income",
                              "other_income",
                              "cost_of_sales",
                              "expenses",
                              "taxation"
                            ],
                            "example": "current_liabilities"
                          },
                          "system_type": {
                            "type": "string",
                            "description": "The system account type, if applicable.",
                            "enum": [
                              "bank_cash",
                              "accounts_receivable",
                              "accounts_payable",
                              "inventory",
                              "credit_card",
                              "fixed_assets",
                              "depreciation",
                              "my_epf_expense",
                              "my_socso_expense",
                              "my_eis_expense",
                              "my_salary_expense"
                            ],
                            "nullable": true,
                            "example": "accounts_payable"
                          },
                          "parent_id": {
                            "type": "integer",
                            "description": "The parent account ID. This is null for parent accounts.",
                            "nullable": true,
                            "example": null
                          },
                          "children": {
                            "description": "Child accounts under this parent account.",
                            "$ref": "../children/res_children.yaml"
                          },
                          "is_locked": {
                            "type": "boolean",
                            "description": "Whether the account is locked from changes.",
                            "example": false
                          },
                          "is_archieved": {
                            "type": "boolean",
                            "description": "Whether the account is archived.",
                            "example": false
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time when the account was last updated.",
                            "example": "2022-06-23 15:42:41"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The account ID.",
                          "example": 42
                        },
                        "code": {
                          "type": "string",
                          "description": "The account code.",
                          "maxLength": 12,
                          "example": "3100"
                        },
                        "name": {
                          "type": "string",
                          "description": "The account name.",
                          "example": "Logistics Expense"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the account.",
                          "example": "The almighty account description"
                        },
                        "currency_code": {
                          "type": "string",
                          "description": "The account currency code.",
                          "example": "MYR"
                        },
                        "currency": {
                          "description": "The account currency details.",
                          "$ref": "../currency/res_currency.yaml"
                        },
                        "balance": {
                          "type": "number",
                          "description": "The account balance. This is null for accounts that do not carry balances.",
                          "nullable": true,
                          "example": null
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the account.",
                          "enum": [
                            "current_assets",
                            "non_current_assets",
                            "other_assets",
                            "current_liabilities",
                            "non_current_liabilities",
                            "equity",
                            "income",
                            "other_income",
                            "cost_of_sales",
                            "expenses",
                            "taxation"
                          ],
                          "example": "current_liabilities"
                        },
                        "system_type": {
                          "type": "string",
                          "description": "The system account type, if applicable.",
                          "enum": [
                            "bank_cash",
                            "accounts_receivable",
                            "accounts_payable",
                            "inventory",
                            "credit_card",
                            "fixed_assets",
                            "depreciation",
                            "my_epf_expense",
                            "my_socso_expense",
                            "my_eis_expense",
                            "my_salary_expense"
                          ],
                          "nullable": true,
                          "example": "accounts_payable"
                        },
                        "parent_id": {
                          "type": "integer",
                          "description": "The parent account ID. This is null for parent accounts.",
                          "nullable": true,
                          "example": 30
                        },
                        "children": {
                          "description": "Child accounts under this parent account.",
                          "$ref": "../children/res_children.yaml"
                        },
                        "classification": {
                          "type": "string",
                          "description": "The cash-flow classification of the account.",
                          "enum": [
                            "OPERATING",
                            "INVESTING",
                            "FINANCING"
                          ],
                          "nullable": true,
                          "example": "OPERATING"
                        },
                        "is_locked": {
                          "type": "boolean",
                          "description": "Whether the account is locked from changes.",
                          "example": false
                        },
                        "is_archieved": {
                          "type": "boolean",
                          "description": "Whether the account is archived.",
                          "example": false
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the account was created.",
                          "example": "2022-07-10 10:39:16"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the account was last updated.",
                          "example": "2022-07-10 10:53:04"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "../../components/accounts/req_account_name.yaml"
                  },
                  "type": {
                    "$ref": "../../components/accounts/req_account_type.yaml"
                  },
                  "system_type": {
                    "$ref": "../../components/accounts/req_account_system_type.yaml"
                  },
                  "parent_id": {
                    "$ref": "../../components/accounts/req_account_parent_id.yaml"
                  },
                  "classification": {
                    "$ref": "../../components/accounts/req_account_classification.yaml"
                  },
                  "code": {
                    "$ref": "../../components/accounts/req_account_code.yaml"
                  },
                  "description": {
                    "$ref": "../../components/accounts/req_account_description.yaml"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "code"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "name": "Logistics Expense",
                    "type": "current_liabilities",
                    "system_type": "accounts_payable",
                    "parent_id": 30,
                    "classification": "OPERATING",
                    "code": "3100",
                    "description": "The almighty account description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The account ID.",
                          "example": 42
                        },
                        "code": {
                          "type": "string",
                          "description": "The account code.",
                          "maxLength": 12,
                          "example": "3100"
                        },
                        "name": {
                          "type": "string",
                          "description": "The account name.",
                          "example": "Logistics Expense"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the account.",
                          "example": "The almighty account description"
                        },
                        "currency_code": {
                          "type": "string",
                          "description": "The account currency code.",
                          "example": "MYR"
                        },
                        "currency": {
                          "description": "The account currency details.",
                          "$ref": "../currency/res_currency.yaml"
                        },
                        "balance": {
                          "type": "number",
                          "description": "The account balance. This is null for accounts that do not carry balances.",
                          "nullable": true,
                          "example": null
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the account.",
                          "enum": [
                            "current_assets",
                            "non_current_assets",
                            "other_assets",
                            "current_liabilities",
                            "non_current_liabilities",
                            "equity",
                            "income",
                            "other_income",
                            "cost_of_sales",
                            "expenses",
                            "taxation"
                          ],
                          "example": "current_liabilities"
                        },
                        "system_type": {
                          "type": "string",
                          "description": "The system account type, if applicable.",
                          "enum": [
                            "bank_cash",
                            "accounts_receivable",
                            "accounts_payable",
                            "inventory",
                            "credit_card",
                            "fixed_assets",
                            "depreciation",
                            "my_epf_expense",
                            "my_socso_expense",
                            "my_eis_expense",
                            "my_salary_expense"
                          ],
                          "nullable": true,
                          "example": "accounts_payable"
                        },
                        "parent_id": {
                          "type": "integer",
                          "description": "The parent account ID. This is null for parent accounts.",
                          "nullable": true,
                          "example": 30
                        },
                        "children": {
                          "description": "Child accounts under this parent account.",
                          "$ref": "../children/res_children.yaml"
                        },
                        "classification": {
                          "type": "string",
                          "description": "The cash-flow classification of the account.",
                          "enum": [
                            "OPERATING",
                            "INVESTING",
                            "FINANCING"
                          ],
                          "nullable": true,
                          "example": "OPERATING"
                        },
                        "is_locked": {
                          "type": "boolean",
                          "description": "Whether the account is locked from changes.",
                          "example": false
                        },
                        "is_archieved": {
                          "type": "boolean",
                          "description": "Whether the account is archived.",
                          "example": false
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the account was created.",
                          "example": "2022-07-10 10:39:16"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the account was last updated.",
                          "example": "2022-07-10 10:53:04"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Archive / Unarchive Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_archived": {
                    "$ref": "../../components/is_archived/req_is_archived.yaml"
                  }
                },
                "required": [
                  "is_archived"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "is_archived": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The account ID.",
                          "example": 42
                        },
                        "code": {
                          "type": "string",
                          "description": "The account code.",
                          "maxLength": 12,
                          "example": "3100"
                        },
                        "name": {
                          "type": "string",
                          "description": "The account name.",
                          "example": "Logistics Expense"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the account.",
                          "example": "The almighty account description"
                        },
                        "currency_code": {
                          "type": "string",
                          "description": "The account currency code.",
                          "example": "MYR"
                        },
                        "currency": {
                          "description": "The account currency details.",
                          "$ref": "../currency/res_currency.yaml"
                        },
                        "balance": {
                          "type": "number",
                          "description": "The account balance. This is null for accounts that do not carry balances.",
                          "nullable": true,
                          "example": null
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the account.",
                          "enum": [
                            "current_assets",
                            "non_current_assets",
                            "other_assets",
                            "current_liabilities",
                            "non_current_liabilities",
                            "equity",
                            "income",
                            "other_income",
                            "cost_of_sales",
                            "expenses",
                            "taxation"
                          ],
                          "example": "current_liabilities"
                        },
                        "system_type": {
                          "type": "string",
                          "description": "The system account type, if applicable.",
                          "enum": [
                            "bank_cash",
                            "accounts_receivable",
                            "accounts_payable",
                            "inventory",
                            "credit_card",
                            "fixed_assets",
                            "depreciation",
[...]
