{
  "openapi": "3.1.0",
  "info": {
    "title": "Bukku API",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.bukku.my",
      "description": "Production"
    }
  ],
  "paths": {
    "/journal_entries": {
      "post": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Create Journal Entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "journal_items": {
                    "type": "array",
                    "description": "The journal items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "integer",
                          "description": "The `Account`'s ID"
                        },
                        "credit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was credited from the account. \nLeave `null` if `debit_amount` is populated.\n"
                        },
                        "debit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was debited from the account. \nLeave `null` if `credit_amount` is populated.\n"
                        },
                        "description": {
                          "type": "string",
                          "description": "The transaction item's description."
                        },
                        "line": {
                          "type": "integer",
                          "description": "The sequence of the item within the array."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "The tax code of the item."
                        }
                      },
                      "required": [
                        "line",
                        "account_id",
                        "debit_amount",
                        "credit_amount"
                      ]
                    }
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nSupports number format (eg. KT-[5DIGIT]) or actual number (eg. KT-00012), leave blank to use default number format.\n\nTo use any other Number Format other than the default one set under Control Panel → Number Formats, \nplease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  }
                },
                "required": [
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "journal_items",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Read Journal Entry List",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Search for transactions on and before the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description`.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Search by status, defaults to All status but Void if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending_approval",
                "ready",
                "void"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The current page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of records per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the list using the defined column.",
            "schema": {
              "type": "string",
              "enum": [
                "number",
                "number2",
                "date",
                "contact_name",
                "amount",
                "balance",
                "title",
                "description",
                "created_at"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort the list in ascending or descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/journal_entries/{transactionId}": {
      "get": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Read Journal Entry",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Update Journal Entry",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "journal_items": {
                    "type": "array",
                    "description": "The journal items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "integer",
                          "description": "The `Account`'s ID"
                        },
                        "credit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was credited from the account. \nLeave `null` if `debit_amount` is populated.\n"
                        },
                        "debit_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Amount that was debited from the account. \nLeave `null` if `credit_amount` is populated.\n"
                        },
                        "description": {
                          "type": "string",
                          "description": "The transaction item's description."
                        },
                        "line": {
                          "type": "integer",
                          "description": "The sequence of the item within the array."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "The tax code of the item."
                        }
                      },
                      "required": [
                        "line",
                        "account_id",
                        "debit_amount",
                        "credit_amount"
                      ]
                    }
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nIf you are not updating the number, keep the value as is of what you got from the Read APIs. \n\nWhen updating a transaction, this field no longer supports number format number creation (eg. KT-[5DIGIT]). \n\nIf you wish to update your transaction number, you may provide an actual number instead (eg. KT-00012). \nPlease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  }
                },
                "required": [
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "journal_items",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Update Journal Entry Status",
        "description": "Only the following update paths are supported:\n  - `draft` → `pending_approval`\n  - `draft` → `ready`\n  - `pending_approval` → `ready`\n  - `ready` → `void`\n  - `void` → `ready`\n",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "void_reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Provide a reason to void the transaction.\n\n<span style=\"color: red; font-weight: 800;\">\n  It is REQUIRED when VOID-ing a MyInvois VALIDATE transaction.\n</span>\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Journal Entries"
        ],
        "summary": "Delete Journal Entry",
        "description": "Only transactions with `draft` and `void` statuses can be deleted.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "../../components/accounts/req_account_name.yaml"
                  },
                  "type": {
                    "$ref": "../../components/accounts/req_account_type.yaml"
                  },
                  "system_type": {
                    "$ref": "../../components/accounts/req_account_system_type.yaml"
                  },
                  "parent_id": {
                    "$ref": "../../components/accounts/req_account_parent_id.yaml"
                  },
                  "classification": {
                    "$ref": "../../components/accounts/req_account_classification.yaml"
                  },
                  "code": {
                    "$ref": "../../components/accounts/req_account_code.yaml"
                  },
                  "description": {
                    "$ref": "../../components/accounts/req_account_description.yaml"
                  }
                },
                "required": [
                  "name",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account List",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description`, `Contact Name`, `Billing Party` & `Shipping Party`.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Search by account category.",
            "schema": {
              "type": "string",
              "enum": [
                "assets",
                "liabilities",
                "equity",
                "income",
                "expenses"
              ]
            }
          },
          {
            "name": "is_archived",
            "in": "query",
            "description": "Show / hide deactivated accounts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by field.",
            "schema": {
              "type": "string",
              "default": "code",
              "enum": [
                "code",
                "name",
                "balance"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort the list in ascending or descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "../../components/accounts/req_account_name.yaml"
                  },
                  "type": {
                    "$ref": "../../components/accounts/req_account_type.yaml"
                  },
                  "system_type": {
                    "$ref": "../../components/accounts/req_account_system_type.yaml"
                  },
                  "parent_id": {
                    "$ref": "../../components/accounts/req_account_parent_id.yaml"
                  },
                  "classification": {
                    "$ref": "../../components/accounts/req_account_classification.yaml"
                  },
                  "code": {
                    "$ref": "../../components/accounts/req_account_code.yaml"
                  },
                  "description": {
                    "$ref": "../../components/accounts/req_account_description.yaml"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Archive / Unarchive Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_archived": {
                    "$ref": "../../components/is_archived/req_is_archived.yaml"
                  }
                },
                "required": [
                  "is_archived"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete Account",
        "description": "Only accounts that are not assigned to locked system type, have no children or not used can be deleted.\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/banking/incomes": {
      "post": {
        "tags": [
          "Money In"
        ],
        "summary": "Create Money In",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "bank_items",
                  "rounding_on",
                  "deposit_items",
                  "status"
                ],
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "billing_party": {
                    "type": "string",
                    "description": "Attention to and address for billing."
                  },
                  "billing_contact_person_id": {
                    "type": "integer",
                    "description": "**Shall NOT co-exist with `billing_contact_person`. Leave value as `null` instead.**\n\nContact Person ID to be used as billing attention name.\n"
                  },
                  "billing_contact_person": {
                    "type": "string",
                    "description": "**Shall NOT co-exist with `billing_contact_person_id`. Leave value as `null` instead.**\n\nThe billing attention person name.\n"
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nSupports number format (eg. KT-[5DIGIT]) or actual number (eg. KT-00012), leave blank to use default number format.\n\nTo use any other Number Format other than the default one set under Control Panel → Number Formats, \nplease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "tax_mode": {
                    "type": "string",
                    "description": "Whether the amounts are inclusive or tax.",
                    "enum": [
                      "inclusive",
                      "exclusive"
                    ]
                  },
                  "bank_items": {
                    "type": "array",
                    "description": "The bank items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "line": {
                          "type": "integer",
                          "description": "Line number for the Bank Item in the transaction."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "ID of the Account being deposited."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description for the Bank Item."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount for the Bank Item."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "ID of Tax Code"
                        }
                      }
                    }
                  },
                  "rounding_on": {
                    "type": "boolean",
                    "description": "Apply rounding to the final total amount."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "deposit_items": {
                    "type": "array",
                    "description": "The deposit items (breakdown of Payment Received) of the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "amount"
                      ],
                      "properties": {
                        "payment_method_id": {
                          "type": "integer",
                          "description": "ID of the Payment Method."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "The deposit account for the payment."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount received."
                        },
                        "number": {
                          "type": "string",
                          "description": "The payment reference number."
                        },
                        "fee_text": {
                          "type": "string",
                          "description": "The fee incurred for the amount paid. Include '%', if it's a percentage."
                        },
                        "fee_account_id": {
                          "type": "integer",
                          "description": "The account for the fee incurred, required if the `fee_text` is present."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "Money In"
        ],
        "summary": "Read Money In List",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Search for transactions on and before the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description`, `Contact Name`, `Billing Party`, `Shipping Info` & `Shipping Party` fields.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "ID of the Contact."
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "ID of the Account of the Deposit To."
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Search by status, defaults to All status but Void if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending_approval",
                "ready",
                "void"
              ]
            }
          },
          {
            "name": "email_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Status of the email sent.",
              "enum": [
                "UNSENT",
                "PENDING",
                "SENT",
                "BOUNCED",
                "OPENED",
                "VIEWED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The current page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of records per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the list using the defined column.",
            "schema": {
              "type": "string",
              "enum": [
                "number",
                "number2",
                "date",
                "contact_name",
                "amount",
                "description",
                "created_at"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort the list in ascending or descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/banking/incomes/{transactionId}": {
      "get": {
        "tags": [
          "Money In"
        ],
        "summary": "Read Money In",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Money In"
        ],
        "summary": "Update Money In",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "bank_items",
                  "rounding_on",
                  "deposit_items",
                  "status"
                ],
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "billing_party": {
                    "type": "string",
                    "description": "Attention to and address for billing."
                  },
                  "billing_contact_person_id": {
                    "type": "integer",
                    "description": "**Shall NOT co-exist with `billing_contact_person`. Leave value as `null` instead.**\n\nContact Person ID to be used as billing attention name.\n"
                  },
                  "billing_contact_person": {
                    "type": "string",
                    "description": "**Shall NOT co-exist with `billing_contact_person_id`. Leave value as `null` instead.**\n\nThe billing attention person name.\n"
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nIf you are not updating the number, keep the value as is of what you got from the Read APIs. \n\nWhen updating a transaction, this field no longer supports number format number creation (eg. KT-[5DIGIT]). \n\nIf you wish to update your transaction number, you may provide an actual number instead (eg. KT-00012). \nPlease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "tax_mode": {
                    "type": "string",
                    "description": "Whether the amounts are inclusive or tax.",
                    "enum": [
                      "inclusive",
                      "exclusive"
                    ]
                  },
                  "bank_items": {
                    "type": "array",
                    "description": "The bank items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID of the Bank Item.\n\n<span style=\"color: red; font-weight: 800;\">\n  Only include if updating existing Bank Item.\n</span>\n"
                        },
                        "line": {
                          "type": "integer",
                          "description": "Line number for the Bank Item in the transaction."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "ID of the Account being deposited."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description for the Bank Item."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount for the Bank Item."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "ID of Tax Code"
                        }
                      }
                    }
                  },
                  "rounding_on": {
                    "type": "boolean",
                    "description": "Apply rounding to the final total amount."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "deposit_items": {
                    "type": "array",
                    "description": "The deposit items (breakdown of Payment Received) of the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "amount"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The id of the deposit item, required when you're updating an item."
                        },
                        "payment_method_id": {
                          "type": "integer",
                          "description": "ID of the Payment Method."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "The deposit account for the payment."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount received."
                        },
                        "number": {
                          "type": "string",
                          "description": "The payment reference number."
                        },
                        "fee_text": {
                          "type": "string",
                          "description": "The fee incurred for the amount paid. Include '%', if it's a percentage."
                        },
                        "fee_account_id": {
                          "type": "integer",
                          "description": "The account for the fee incurred, required if the `fee_text` is present."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Money In"
        ],
        "summary": "Update Money In Status",
        "description": "Only the following update paths are supported:\n  - `draft` → `pending_approval`\n  - `draft` → `ready`\n  - `pending_approval` → `ready`\n  - `ready` → `void`\n  - `void` → `ready`\n",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "void_reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Provide a reason to void the transaction.\n\n<span style=\"color: red; font-weight: 800;\">\n  It is REQUIRED when VOID-ing a MyInvois VALIDATE transaction.\n</span>\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Money In"
        ],
        "summary": "Delete Money In",
        "description": "Only transactions with `draft` and `void` statuses can be deleted.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/banking/expenses": {
      "post": {
        "tags": [
          "Money Out"
        ],
        "summary": "Create Money Out",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "bank_items",
                  "rounding_on",
                  "deposit_items",
                  "status"
                ],
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "billing_party": {
                    "type": "string",
                    "description": "Attention to and address for billing."
                  },
                  "billing_contact_person_id": {
                    "type": "integer",
                    "description": "**Shall NOT co-exist with `billing_contact_person`. Leave value as `null` instead.**\n\nContact Person ID to be used as billing attention name.\n"
                  },
                  "billing_contact_person": {
                    "type": "string",
                    "description": "**Shall NOT co-exist with `billing_contact_person_id`. Leave value as `null` instead.**\n\nThe billing attention person name.\n"
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nSupports number format (eg. KT-[5DIGIT]) or actual number (eg. KT-00012), leave blank to use default number format.\n\nTo use any other Number Format other than the default one set under Control Panel → Number Formats, \nplease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "tax_mode": {
                    "type": "string",
                    "description": "Whether the amounts are inclusive or tax.",
                    "enum": [
                      "inclusive",
                      "exclusive"
                    ]
                  },
                  "bank_items": {
                    "type": "array",
                    "description": "The bank items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "line": {
                          "type": "integer",
                          "description": "Line number for the Bank Item in the transaction."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "ID of the Account being deposited."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description for the Bank Item."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount for the Bank Item."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "ID of Tax Code"
                        }
                      }
                    }
                  },
                  "rounding_on": {
                    "type": "boolean",
                    "description": "Apply rounding to the final total amount."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "deposit_items": {
                    "type": "array",
                    "description": "The deposit items (breakdown of Payment Received) of the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "amount"
                      ],
                      "properties": {
                        "payment_method_id": {
                          "type": "integer",
                          "description": "ID of the Payment Method."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "The deposit account for the payment."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount received."
                        },
                        "number": {
                          "type": "string",
                          "description": "The payment reference number."
                        },
                        "fee_text": {
                          "type": "string",
                          "description": "The fee incurred for the amount paid. Include '%', if it's a percentage."
                        },
                        "fee_account_id": {
                          "type": "integer",
                          "description": "The account for the fee incurred, required if the `fee_text` is present."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          },
          "security": [
            {
              "BearerToken": []
            }
          ]
        }
      },
      "get": {
        "tags": [
          "Money Out"
        ],
        "summary": "Read Money Out List",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Search for transactions on and before the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description`, `Contact Name`, `Billing Party`, `Shipping Info` & `Shipping Party` fields.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "ID of the Contact."
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "ID of the Account of the Deposit To."
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Search by status, defaults to All status but Void if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending_approval",
                "ready",
                "void"
              ]
            }
          },
          {
            "name": "email_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Status of the email sent.",
              "enum": [
                "UNSENT",
                "PENDING",
                "SENT",
                "BOUNCED",
                "OPENED",
                "VIEWED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The current page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of records per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the list using the defined column.",
            "schema": {
              "type": "string",
              "enum": [
                "number",
                "number2",
                "date",
                "contact_name",
                "amount",
                "description",
                "created_at"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort the list in ascending or descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/banking/expenses/{transactionId}": {
      "get": {
        "tags": [
          "Money Out"
        ],
        "summary": "Read Money Out",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Money Out"
        ],
        "summary": "Update Money Out",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "bank_items",
                  "rounding_on",
                  "deposit_items",
                  "status"
                ],
                "properties": {
                  "contact_id": {
                    "type": "integer",
                    "description": "The contact's ID."
                  },
                  "billing_party": {
                    "type": "string",
                    "description": "Attention to and address for billing."
                  },
                  "billing_contact_person_id": {
                    "type": "integer",
                    "description": "**Shall NOT co-exist with `billing_contact_person`. Leave value as `null` instead.**\n\nContact Person ID to be used as billing attention name.\n"
                  },
                  "billing_contact_person": {
                    "type": "string",
                    "description": "**Shall NOT co-exist with `billing_contact_person_id`. Leave value as `null` instead.**\n\nThe billing attention person name.\n"
                  },
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nSupports number format (eg. KT-[5DIGIT]) or actual number (eg. KT-00012), leave blank to use default number format.\n\nTo use any other Number Format other than the default one set under Control Panel → Number Formats, \nplease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "tax_mode": {
                    "type": "string",
                    "description": "Whether the amounts are inclusive or tax.",
                    "enum": [
                      "inclusive",
                      "exclusive"
                    ]
                  },
                  "bank_items": {
                    "type": "array",
                    "description": "The bank items of the transaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "line": {
                          "type": "integer",
                          "description": "Line number for the Bank Item in the transaction."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "ID of the Account being deposited."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description for the Bank Item."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount for the Bank Item."
                        },
                        "tax_code_id": {
                          "type": "integer",
                          "description": "ID of Tax Code"
                        }
                      }
                    }
                  },
                  "rounding_on": {
                    "type": "boolean",
                    "description": "Apply rounding to the final total amount."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "deposit_items": {
                    "type": "array",
                    "description": "The deposit items (breakdown of Payment Received) of the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "amount"
                      ],
                      "properties": {
                        "payment_method_id": {
                          "type": "integer",
                          "description": "ID of the Payment Method."
                        },
                        "account_id": {
                          "type": "integer",
                          "description": "The deposit account for the payment."
                        },
                        "amount": {
                          "type": "number",
                          "description": "The amount received."
                        },
                        "number": {
                          "type": "string",
                          "description": "The payment reference number."
                        },
                        "fee_text": {
                          "type": "string",
                          "description": "The fee incurred for the amount paid. Include '%', if it's a percentage."
                        },
                        "fee_account_id": {
                          "type": "integer",
                          "description": "The account for the fee incurred, required if the `fee_text` is present."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Money Out"
        ],
        "summary": "Update Money Out Status",
        "description": "Only the following update paths are supported:\n  - `draft` → `pending_approval`\n  - `draft` → `ready`\n  - `pending_approval` → `ready`\n  - `ready` → `void`\n  - `void` → `ready`\n",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "void_reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Provide a reason to void the transaction.\n\n<span style=\"color: red; font-weight: 800;\">\n  It is REQUIRED when VOID-ing a MyInvois VALIDATE transaction.\n</span>\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Money Out"
        ],
        "summary": "Delete Money Out",
        "description": "Only transactions with `draft` and `void` statuses can be deleted.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/banking/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Create Transfers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "account_id",
                  "account2_id",
                  "amount",
                  "bank_items",
                  "rounding_on",
                  "deposit_items",
                  "status"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nSupports number format (eg. KT-[5DIGIT]) or actual number (eg. KT-00012), leave blank to use default number format.\n\nTo use any other Number Format other than the default one set under Control Panel → Number Formats, \nplease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "Source Account ID"
                  },
                  "account2_id": {
                    "type": "integer",
                    "description": "Destination Account ID"
                  },
                  "amount": {
                    "type": "number",
                    "description": "The transfer amount of the transaction"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          },
          "security": [
            {
              "BearerToken": []
            }
          ]
        }
      },
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Read Transfer List",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Search for transactions on and after the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Search for transactions on and before the date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for keywords in `No.`, `Reference No.`, `Title`, `Remarks`, `Description` fields.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "ID of the Account."
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Search by status, defaults to All status but Void if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending_approval",
                "ready",
                "void"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/banking/transfers/{transactionId}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Read Transfer",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Update Transfer",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "date",
                  "currency_code",
                  "exchange_rate",
                  "account_id",
                  "account2_id",
                  "amount",
                  "bank_items",
                  "rounding_on",
                  "deposit_items",
                  "status"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The transaction number. \n\nIf you are not updating the number, keep the value as is of what you got from the Read APIs. \n\nWhen updating a transaction, this field no longer supports number format number creation (eg. KT-[5DIGIT]). \n\nIf you wish to update your transaction number, you may provide an actual number instead (eg. KT-00012). \nPlease ensure that Custom Number Format option is available on your plan, and the option is turned on in your Company Settings. \n"
                  },
                  "number2": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The reference number for the transaction."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The transaction date following format `YYYY-MM-DD`."
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "The transaction currency following ISO standard format such as `MYR`."
                  },
                  "exchange_rate": {
                    "type": "number",
                    "description": "The transaction exchange rate to convert from home currency to the specified currency. Leave as `1` if transaction is in home currency."
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "Source Account ID"
                  },
                  "account2_id": {
                    "type": "integer",
                    "description": "Destination Account ID"
                  },
                  "amount": {
                    "type": "number",
                    "description": "The transfer amount of the transaction"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Description of the transaction, usually appears on reports."
                  },
                  "internal_note": {
                    "type": "string",
                    "description": "Internal note of the transaction, for owner's use"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks for the transaction, to be displayed at the bottom of the form."
                  },
                  "tag_ids": {
                    "type": "integer",
                    "maxItems": 4,
                    "description": "Tag the transaction with department / branch / region / country & etc."
                  },
                  "files": {
                    "type": "array",
                    "description": "Files attached to the transaction.",
                    "items": {
                      "type": "object",
                      "required": [
                        "file_id"
                      ],
                      "properties": {
                        "file_id": {
                          "type": "integer",
                          "description": "The file id of the file to be attached to the transaction."
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Transfers"
        ],
        "summary": "Update Transfer Status",
        "description": "Only the following update paths are supported:\n  - `draft` → `pending_approval`\n  - `draft` → `ready`\n  - `pending_approval` → `ready`\n  - `ready` → `void`\n  - `void` → `ready`\n",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "pending_approval",
                      "ready",
                      "void"
                    ],
                    "description": "The transaction status."
                  },
                  "void_reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Provide a reason to void the transaction.\n\n<span style=\"color: red; font-weight: 800;\">\n  It is REQUIRED when VOID-ing a MyInvois VALIDATE transaction.\n</span>\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Transfers"
        ],
        "summary": "Delete Transfer",
        "description": "Only transactions with `draft` and `void` statuses can be deleted.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the transaction."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "An error occurred, check the response for more information."
          },
          "401": {
            "description": "User is not authenticated."
          },
          "403": {
            "description": "User is not authorised to access the resource."
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_type": {
                    "$ref": "../../components/entity_type/req_entity_type.yaml"
                  },
                  "legal_name": {
                    "$ref": "../../components/legal_name/req_legal_name.yaml"
                  },
                  "other_name": {
                    "$ref": "../../components/other_name/req_other_name.yaml"
                  },
                  "reg_no_type": {
                    "$ref": "../../components/reg_no_type/req_reg_no_type.yaml"
                  },
[...]
